.logo {
    width: 230px;
    height: 65px;
}

.nav-link {
    color: black;
}

.LogInOrSignUp {
    display: flex;
    justify-content: flex-end;
}

.buttonNav, .logout {
    background-color: #D21312;
    border-radius: 0.3rem;
    padding: 0.6em 1.3em;
    color: white;
    font-size: 1.1rem;
    transition-duration: 0.4s;
    border: 1px solid transparent;
    margin-right:0.5rem ;
}
.buttonNav:hover{
    background-color: white;
    border: 1.3px solid navy;
    color: #D21312;



}

.logout {
    background-color: white;
    color: #D21312;
    border: 1px solid red;
}
.font {
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;
}

.nav-item {
    margin: 0px 20px;
    font-weight: 500;
}

.items-nav {
    justify-content: inherit;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;

}

.pages {
    margin-top: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-link:hover {
    color: #D21312;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-btn {
    background: #D21312;
    color: white;
    border: none;
}
.search-btn:hover {
    color: #D21312;
    background: white;
    border: 1px solid #053B50;
}

.search-btn-alternatives {
    background: #176B87;
    color: white;
    border: none;
}
.search-btn-alternatives:hover {
    color: white;
    background: #D21312;
    border: none;
}


.available-medicines {
    margin-top: -360px;
    margin-right: 12px;
}

.medicinal-use-list {
    margin-left: 30px;
}

.list-font {
    color: black;
    text-decoration: none;
}

.list-font:hover {
    color: #D21312;
}

.form-row {
    width: 60%;
    justify-content: center;
}

.container-form {
    margin: 120px 150px 0px 250px;
}

.title-form {
    color: #D21312;
    margin-left: 220px;
    margin-bottom: 40px;
}

.submit-btn {
    width: 15%;
    background: #176B87;
    color: white;
    margin-left: 20%;
    margin-top: 50px;
}
.submit-btn-report {
    width: 40%;
    background: #176B87;
    color: white;
    margin-left: 2%;
    margin-top: 20px;
}
.submit-btn-report:hover {
    width: 40%;
    background: #164863;
    color: white;
    margin-left: 2%;
    margin-top: 20px;

}
.all-btn {
    width: 100%;
    background: #176B87;
    color: white;
    padding: 5px;
    border:none;
    border-radius: 0.3rem;
    transition-duration: 0.4s;
}
.all-btn:hover {
    width: 100%;
    background: #164863;
    color: white;
    padding: 5px;
    border:none;
    border-radius: 0.3rem;
    transition-duration: 0.4s;
}

.submit-btn:hover {
    width: 15%;
    background: #D21312;
    color: white;
}

.image-container {
    position: relative;
}

.logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-logo {
    width: 35px;
}

.edit-addToCart {
    width: 35px;
    margin-top: 45px;
}

.cart-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
}

.cart-icon {
    width: 20px;
    height: 20px;
}

.cart-text {
    margin-right: 8px;
    margin-left: 10px;
    color: black;
}

.cart-text:hover {
    color: #D21312;
}

.cart-link {
    text-decoration: none;
}

.remove-btn {
    border-color: #D21312;
}

.remove-btn:hover {
    background: #D21312;
    color: white;
}

.half-container {
    margin-left: 50px;
}

.order-summary {
    width: 500px;
    height: 500px;
    border: 1px solid #ccc;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;
    background: #EEEEEE;
}

.container-order {
    display: flex;
}

.order-text {
    color: #352F44;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.coupon-form .form-group {
    display: flex;
    align-items: center;
    padding: 10px;
}

.coupon-form .form-control {
    flex-grow: 1;
    margin-right: 10px;
}

.sub-total {
    margin-left: 20px;
}

.apply-btn {
    background-color: #176B87;
    color: white;
}

.apply-btn:hover, .checkout-btn:hover {
    background-color: #053B50;
    color: white;
}

.checkout-btn {
    width: 90%;
    background-color: #176B87;
    margin-top: 50px;
    margin-left: 20px;
}

.checkout-btn {
    width: 90%;
    background-color: #176B87;
    margin-top: 50px;
    margin-left: 20px;
}

.placeOrder-btn {
    width: 90%;
    background-color: #D21312;
    margin-top: 30px;
    margin-left: 20px;
}

.placeOrder-btn:hover {
    width: 90%;
    background-color: #47A992;
    margin-top: 30px;
    margin-left: 20px;
}

.left-part {
    margin-left: 50px;
}
.left-part-less {
    margin-left: -160px;
}

.order-body {
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 100px;
    margin-left: 480px;
    padding: 10px;
    background: #EEEEEE;
}

.btn-address {
    width: 90%;
    background-color: #176B87;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

.btn-address:hover {
    background-color: #053B50;
}


.row-payment {
    display: flex;
}

.payment-details {
    font-size: larger;
    text-align: center;
    margin-top: 20px;
    background-color: transparent;
    border: none;
}
.payment-details-wallet{
    font-size: larger;
    text-align: center;
    margin-top: 40px;
    background-color: transparent;
    border: none;
    margin-left: 40px;
}

.column-payment {
    flex: 1;
    padding: 10px;
}

.payments {
    margin-bottom: 40px;
}

.payment-details-cash {
    font-size: larger;
    text-align: center;
    margin-top: 50px;
    padding-left: 33px;
    background-color: transparent;
    border: none;

}
.addToCart-btn{
    background: transparent;
    border: none;
}
.archived-medicines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sales {
    color: #053B50;
}
.sales-image {
    margin-top: -520px;
    margin-left: 370px;
}
.sales-image-name {
    margin-top: -40px;
    margin-left: 270px;
    height: 700px;
}
.sales-component{
    /*border: 2px solid black;*/
    width: 450px;
    height: 407px;
    margin-top: -560px;
    margin-left: 860px;
    overflow: hidden;
}
.no-underline {
    text-decoration: none;
}
.header h5{
    display: inline;
    margin-right: 10px;
    font-size: 18px;
    margin-bottom: 0px;
}
.report-margin {
    font-size: 10px;
    margin: -5px 0px ;
}
.blue-color{
    color: #164863 ;
}
.span-margin {
    margin-left: 10px;
    color: black;
}
.margin-bottom{
    margin-bottom: 15px;
}
.sales-container {
    display: flex;
    align-items: center;
}
/*select {*/
/*    width: 150px;*/
/*}*/
