
body{
    font-size: 16px;
}

.fontBig{
    font-size: 1.5rem;
    font-weight: bold;
}

.fontMed{
    font-size: 1rem;
}

.fontSmall{
    font-size: 0.7rem;
}

.border{
    border: 1px solid red;
    border-radius: 5px;
}

.buttons{
    width: -webkit-fill-available;
}

.box{
    padding: 1rem;
    box-shadow: 0 0 5px red;

}

.input-danger:focus {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}