
body{
    font-size: 16px;
}

.fontBig{
    font-size: 1.5rem;
    font-weight: bold;
}

.fontMed{
    font-size: 1rem;
}

.fontSmall{
    font-size: 0.7rem;
}

.border{
    border: 1px solid red;
    border-radius: 5px;
}

.buttons{
    width: -webkit-fill-available;
}

.box{
    padding: 1rem;
    box-shadow: 0 0 5px red;

}

.input-danger:focus {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

.nav-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.med-img{
    width: 150px;
    height: 150px;
}

.left-payment-option {
    background-color: #B9B4C7;
    width: 150px;
    height: 120px;
    margin-left: 20px;
    border: 1px solid black;
}
.middle-payment-option{
    background-color: #B9B4C7;
    width: 150px;
    height: 120px;
    margin-left: 200px;
    margin-top: -120px;
    border: 1px solid black;
}
.right-payment-option {
    background-color: #B9B4C7;
    width: 150px;
    height: 120px;
    margin-left: 380px;
    margin-top: -120px;
    border: 1px solid black;
}

.right-payment-option, .left-payment-option, .middle-payment-option{
    text-align: center;
}